@import "../../styles.scss";

.container {
  background-color: $primary;
  width: 100%;
  display: flex;
}

.left {
  flex: 6;
  display: inline-block;
}

.background {
  padding: 0;
  flex: 4;
  background-size: cover;
  background-position: left;
}

.wrapper {
  padding: 110px 80px 110px 80px;
  color: white;
}

.title {
  font-weight: 600;
  font-size: 35px;
  line-height: 140%;
  text-transform: uppercase;
}

.description {
  line-height: 140%;
  margin-top: 10px;
}

.establishmentsContainer {
  margin-top: 20px;
  width: 100%;
}

.establishment {
  display: inline-block;
  // margin-right: 50px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 140%;
  font-size: 18px;
}

.icon {
  font-size: 18px;
  margin-right: 10px;
}

// $xxs: 320px;
// $xs: 480px;
// $sm: 600px;
// $md: 768px;
// $lg: 900px;
// $xl: 1024px;
// $xxl: 1200px;
// $xxxl: 1500px;

@media only screen and (max-width: $xxl) {
  .left {
    flex: 7;
  }
  .background {
    flex: 3;
  }
}

@media only screen and (max-width: $xl) {
  .left {
    flex: 6;
  }
  .background {
    flex: 4;
  }
}

@media only screen and (max-width: $lg) {
  .wrapper {
    padding: 70px 30px 70px 30px;
  }
}

@media only screen and (max-width: $md) {
  .background {
    display: none;
  }
  .left {
    text-align: center;
  }

  .description {
    margin-bottom: 40px;
  }

  .establishmentsContainer {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: $sm) {
  .establishment {
    font-size: 14px;
    text-align: left;
  }
  .establishmentsContainer {
    padding-left: 30px;
  }
  .wrapper {
    padding: 70px 10px 70px 10px;
  }
}

@media only screen and (max-width: $xs) {
  .establishment {
    font-size: 12px;
  }
}
