@import "../../styles.scss";

.container {
  background-color: $new-white;
  width: 100%;
  padding: 50px 100px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 140%;
  text-transform: uppercase;
  color: $red;
  margin: 0 auto;
}

.description {
  line-height: 140%;
  margin-top: 10px;
  color: $dark-gray;
}

.depositionsContainer {
  margin: 40px auto;
  overflow-x: hidden;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.depositionsWrapper {
  position: relative;
  transition: all ease-in 200ms;
  width: 100%;
}

// $xxs: 320px;
// $xs: 480px;
// $sm: 600px;
// $md: 768px;
// $lg: 900px;
// $xl: 1024px;
// $xxl: 1200px;
// $xxxl: 1500px;

@media only screen and (max-width: $sm) {
  .container {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: $lg) {
  .btnPrev {
    left: 2%;
  }

  .btnNext {
    right: 2%;
  }
}
