@import "../../styles.scss";

.title {
  font-weight: 600;
  font-size: $font-lg;
  line-height: 140%;
  color: $primary;
  text-transform: uppercase;
}

.wrapper {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.servicesWrapper {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: left;
}

.serviceContainer {
  // width: 200px;
  display: inline-block;
  // margin: 20px 30px;
  padding: 30px;
  vertical-align: top;
  // background-color: #f09;
}

.description {
  line-height: 140%;
  margin-top: 10px;
  color: $dark-gray;
}

.service {
  height: 100%;
  display: flex;
  flex-direction: row;
  vertical-align: top;
  align-items: flex-start;
  justify-content: flex-start;
}

.serviceLeft {
  vertical-align: top;
}

.serviceRight {
  vertical-align: top;
  margin-left: 20px;
  text-align: left;
}

.icon {
  width: 40px;
}

.verticalIcon {
  width: 20px;
}

.serviceTitle {
  // padding: 0 0 10px 0;
  font-weight: bold;
  font-size: $font-md;
  line-height: 140%;
  color: $primary;
  text-transform: uppercase;
}

.serviceDescription {
  line-height: 140%;
  margin-top: 10px;
  color: $dark-gray;
}

.bottomDescription {
  padding: 0 20%;
}

// $xxs: 320px;
// $xs: 480px;
// $sm: 600px;
// $md: 768px;
// $lg: 900px;
// $xl: 1024px;
// $xxl: 1200px;
// $xxxl: 1500px;

@media only screen and (max-width: $md) {
  .servicesWrapper {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: $xs) {
  .bottomDescription {
    padding: 0 5%;
  }
}
