@import "../../styles.scss";

.callToAction {
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 9px 38px;
  background-color: white;
  font-size: $font-sm * 0.9;
  text-transform: uppercase;
  color: $primary;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.095em;
  transition: all 100ms ease-in;
}

.outlined {
  border: 1px solid white;
  background-color: $primary;
  color: white;
}

.callToAction:hover {
  color: white;
  background-color: $primary;
}

.outlined:hover {
  color: $primary;
  background-color: white;
}

.callToActionContainer {
  margin-top: 50px;
}
