@import "../../styles.scss";

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all ease-in 500ms, background ease-in 100ms;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.header.fixed {
  position: fixed;
  background-color: $red;
  width: 100%;
  z-index: 999;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  color: white;
  font-size: 15px;
}

.ul li {
  margin: 0;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

.logo {
  flex: 1;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 25pt;
  font-weight: bold;
}

.menu {
  flex: 3;
}

.hamburguer {
  display: none;
}

.icon {
  color: white;
  font-size: 22px;
}
// $xxs: 320px;
// $xs: 480px;
// $sm: 600px;
// $md: 768px;
// $lg: 900px;
// $xl: 1024px;
// $xxl: 1200px;
// $xxxl: 1500px;

@media only screen and (max-width: $xl) {
  .menu {
    transform: scale(0.9);
    flex: 5;
    margin-right: -10vw;
  }

  .logo {
    transform: scale(0.9);
    margin-left: -5vw;
  }
}

@media only screen and (max-width: $md) {
  .ul li {
    display: none;
  }

  .ul {
    justify-content: flex-end;
  }

  .ul .button {
    display: block;
  }

  // .hamburguer {
  //   display: block;
  // }

  .menu {
    text-align: right;
  }
}
